$dark: #272936;
$green: #59f68d;
$blue: #c9a8fa;
$red: #ff6d67;
$cyan: #99ecfd;
$white: #c7c7c7;
$magneta: #ff92d0;
$magneta-light: #ffc5eb;
$red: #ff6d67;

.magneta {
  color: $magneta;
}

.red {
  color: $magneta;
}

.green {
  color: $magneta;
}

.purple {
  color: $magneta;
}
